<%= simple_form_for(@cocktail) do |f|%>
  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Please Enter a name"  %>
  <%= f.text_field :instructions, placeholder: "Please Enter the instructions."%>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, class: "btn btn-success", id: "btn-simpleform-create-cocktail"%>
<% end %>

