<!-- cocktails/index -->
<div class="header">
  <h1>Mister Cocktail</h1>
  <!-- <p>Missed a Cocktail? Ask Mister Cocktail!</p> -->
  <span id="banner-typed-text"></span>
  <span class="cocktails-form">
    <p></p>
    <button class="btn btn-success" id="btn-create-cocktail">Create A Cocktail!</button>
  </span>
</div>

<div class="hidden">

    <%= render "form_cocktail" %>
</div>

<h2 style="text-align: center;">Cocktail Count: <%= @cocktails.size %></h2>

<div class="main-container">
  <% @cocktails.reverse_each do |cocktail| %>
    <div class="cocktail-card">
    <div class="cocktail-card-top">
      <div class="cocktail-card-top-image">
        <% if cocktail.image.nil? %>
          <img src="<%= cocktail.photo %>" height=200 width=200">
        <% else %>
          <img src="<%= cocktail.image %>" height=200 width=200">
        <% end %>
      </div>
    </div>
    <div class="cocktail-card-bottom">
      <p id="cocktail-name"><%= cocktail.name %></p>
      <%= link_to("Find out more", cocktail_path(cocktail))%>
    </div>
  </div>
  <% end %>
</div>
</div


