<!-- Cocktail/show -->

<div class="header"></div>

<div class="container relative-margin">
  <div class="row">

    <%= link_to("<<< Go Back", cocktails_path, {id: "show-back-button"})%><br>
    <div class="col-sm-12 col-md-6">

      <% if @cocktail.image %>
      <div id="large-image" class="cocktail-info-card" style="background-image: linear-gradient(-270deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.2) 100%), url('<%=@cocktail.image%>')">
      <% end %>
      <% if @cocktail.image.nil? %>
      <div id="large-image" class="cocktail-info-card" style="background-image: linear-gradient(-270deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.2) 100%), url('<%=cl_image_path(@cocktail.photo)%>')">
      <% end %>
      <h2><%= @cocktail.name %></h2>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="cocktail-info-card">
        <h4 style="text-align: center;">Instructions</h4>
        <p><%= @cocktail.instructions %></p>

        <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :instructions%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>

        <hr>
        <h4>Recipe:</h4>
        <% cocktail_hash = Hash[@cocktail.ingredients.zip(@cocktail.doses)] %>
        <% cocktail_hash.each do |ingredient, dose| %>
          <p><%= dose.description %> of <%= ingredient.name %></p>
        <% end %>
        <span class="form-dose">
        <%= render "cocktails/form_dose" %>
        </span>
      </div>
    </div>

    </div>

  </div>
</div>












