<!-- Cocktail/show -->
<div class="header" style="background-image: url('https://source.unsplash.com/user/geostablephl/1400x800')">
  <h2><%= @cocktail.name %></h2>
  <div class="back-button">
    <%= link_to("<<< Back", cocktails_path)%>
  </div>
</div>
<hr>
<%= link_to("Create Dose", new_cocktail_dose_path(@cocktail)) %>
<hr>
<p style="text-align: center;">Instructions</p>
<div class="main-container">
  <p><%= @cocktail.instructions %></p>
  <% cocktail_hash = Hash[@cocktail.ingredients.zip(@cocktail.doses)] %>
  <% cocktail_hash.each do |ingredient, dose| %>
    <div class="review-card">
      <p><%= dose.description %> of <%= ingredient.name %></p>
    </div>
  <% end %>
</div>
